body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
}

.main {
  max-width: 800px;
  margin: auto;
}

.inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.users {
 display: flex;
 flex-wrap: wrap;
  gap: 10px;
}

.user-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 180px;
}

.user-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
